<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find xpkg_demo)/config/common_costmap_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find xpkg_demo)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find xpkg_demo)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find xpkg_demo)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find xpkg_demo)/config/global_planner_params.yaml" command="load" />
        <rosparam file="$(find xpkg_demo)/config/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find xpkg_demo)/config/move_base_params.yaml" command="load" />
    </node>
</launch>